*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
}
body{
    background: url("/bg.png");
    background-size: cover;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    margin-top: 130px;
    padding: 40px;
    background: #e6e6e600;
    border: 2px solid #fff;
    border-radius: 20px;
    backdrop-filter: blur(20px);
}
form *{
    display: block;
}
.main-text{
    font-size: 35px;
    font-weight: 600;
    padding: 10px 0px;
    color: #8F2C24;
    text-align: center;
}
.input{
    color: #8F2C24;
    font-weight: 400;
    font-size: 15px;
    width: 300px;
    padding: 20px;
    outline: none;
    border: 0;
    border-radius: 10px;
    margin: 30px 0px;
    
}
.btn-login{
    background: #8F2C24;
    padding: 12px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    width: 100%;
    color: #fff;
    border: 0;
    margin-bottom: 20px;
}
.end{
    color: #8F2C24;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}
.link{
    color: #8F2C24;
    font-weight: 600;
}